@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.app {
    background: rgb(18, 26, 31);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.light {
    background: #EEEEEE;
}

.title {
    color:rgb(224, 235, 244)
}

.title-dark {
    color: rgb(18, 26, 31);
}

.toggle-theme-box {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.theme-checkbox {
    opacity: 0;
    position: absolute;
}
  
.theme-checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.fa-moon {
    color: #f1c40f;
}
  
.fa-sun {
    color: #f39c12;
}
  
.theme-checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.theme-checkbox:checked + .theme-checkbox-label .ball {
    transform: translateX(24px);
}

.container {
    background: rgb(39, 55, 59);
    width: 90%;
    max-width: 25rem;
    border-radius: 10px;
    overflow: hidden;
}

.container-light {
    background:rgb(161, 160, 160);
}

.display {
    background: rgb(182, 182, 182);
    width: 100%;
    height: 6rem;
    text-align: right;
    padding: 1rem;
    font-size: 2rem;
    position: relative;
}

.prev-input {
    font-size: 1.25rem;
    opacity: 0.5;
}

.temp-result {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 1.25rem;
    opacity: 0.5;
}

.buttons-div {
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4, 1fr)/ repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.buttons-div-light {
    color: rgb(39, 55, 59);
}

.button {
    border: 0.5px solid rgb(92, 92, 92, 0.37);
    border-radius: 50%;
    width: 100%;
    max-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(233, 228, 228);
}

.button:hover {
    background: rgb(92, 92, 92, 0.37);
}

.btn-0 {
    grid-column: 2/4;
    max-width: 100%;
    border-radius: 40rem;
}

.bg-purple {
    background: #645CBB;
}

.bg-purple:hover {
    background: #4d17ef;
}